.app__footer-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.app__footer-overlay .app__black{
    height: 25%;
    background-color: var(--color-black);
}
.app__footer-overlay .app__img{
    height: 75%;
}